:root {
  --dj-color: #0c4b33;
  --text-color: #808080;
  --btn-color: #51be95;
  --hover-color: #56B395;
  --icon-color: #20aa76;
  --ft-color: #074835;
}

html, body {
  height: 100%;
  color: var(--text-color);
}

 .navbar {
  background-color: var(--dj-color);
 }

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

 main.main {
    flex: 1 1 auto;
  }

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.btn {
  text-transform: uppercase;
  background-color: var(--btn-color);
  color: #fff;
  border-radius: 5px;
}

.btn-large {
  margin-top: 10px;
  text-transform: uppercase;
  background-color: var(--btn-color);
  color: #fff;
  border-radius: 5px;
}

.btn:hover,.btn-large:hover {
  background-color: var(--hover-color);
}

.btn-submit {
  margin-top: 15px;
}

.icon {
  color: var(--icon-color);
}

.post-head {
  margin-top: 40px;
  margin-bottom: 40px;
}

.post-card {
  margin-bottom: 40px;
}

.post-panel {
  margin-top: 50px;
}

.post-btn {
  margin-top: 40px;
  margin-left: 20px;
}

.post-warning {
  margin-top: 40px;
}

.tags-list {
  display: inline-block;
  padding: 0 10px;
}

.admin-panel {
  position: fixed;
  right: 50px;
  top: 150px;
  opacity: .8;
  margin: 0 40px 40px 0;
  border: 3px solid #51be95;
}

.admin-panel:hover {
  opacity: 1;
}

.admin-panel a {
  display: block;
  margin: 5px 0;
}

a.edit, a.delete {
  display: none;
}

.page-footer {
  background-color: var(--dj-color);;
 }

 .footer-bottom {
  background-color: var(--ft-color);
 }