{% extends 'blog/base_blog.html' %}

{% block title %}
    Посты - {{ block.super }}
{% endblock %}

{% block content %}

    <h3 class="center-align black-text post-head">Посты</h3>

<!--is_paginated сработает, если общее кол-во постов меньше, -->
<!--чем заявленное на странице в файле views.py - paginator = Paginator(posts, 10):-->
<!--завлено - 10, а всего постов 9 и меньше - пагинация исчезнет-->

      {% if is_paginated %}
        <ul class="pagination">
        <li class="waves-effect {% if not prev_url %} disabled {% endif %}">
            <a href="{{ prev_url }}">
                <i class="material-icons">
                chevron_left
                </i>
            </a>
        </li>

        {% for n in page_object.paginator.page_range %}
          {% if page_object.number == n %}

            <li class="active green darken-3"><a href="?page={{ n }}">{{ n }}</a></li>
            {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
            <li class=""><a href="?page={{ n }}">{{ n }}</a></li>

            {% endif %}
            {% endfor %}

        <li class="waves-effect {% if not next_url %} disabled {% endif %}">
            <a href="{{ next_url }}">
                <i class="material-icons">chevron_right</i>
            </a>
        </li>
        </ul>
        {% endif %}

{% for post in page_object.object_list %}

{% include 'includes/post_card.html' %}

{% endfor %}

{% endblock content %}